DATABASE_URL="postgresql://usuario:contrasena@localhost:5432/mt_dev?schema=public"

# Usuario admin inicial (solo se usa al ejecutar `npx prisma db seed`)
ADMIN_EMAIL=""
ADMIN_PASSWORD=""
ADMIN_NOMBRE=""
